{%  extends 'parent.html' %}
{% block title %}
    Home
{% endblock %}

{% block body %}
<h1>Welcome to Django Youtube</h1><br>
<h1>Most recent videos</h1><br>
{% for video in most_recent_videos %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h6 class="display-4">{{ video.title }}</h6>
            <p class="lead">{{ video.description }}</p>
            <p style="font-size: 7px; color: grey;"> uploaded by {{ video.user }} on {{ video.datetime }}</p>
            <p style="text-align: right"><a href='/video/{{ video.id }}'>Watch Video</a></p>
        </div>
    </div>
{% endfor %}
{% endblock %}
